alabaster==0.7.10
Babel==2.6.0
beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
coverage==4.5.3
coveralls==1.7.0
Django==2.2.24
django-betterforms==1.1.4
django-choices==1.7.0
django-constance==2.1.0
django-countries==5.2
django-extensions==2.0.6
django-lockdown==1.6.0
django-phonenumber-field==2.3.1
django-picklefield==2.0
django-related-admin==0.5.0
django-webtest==1.9.2
docopt==0.6.2
docutils==0.14
graphviz==0.10.1
idna==2.8
imagesize==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
more-itertools==4.1.0
names==0.3.0
packaging==19.0
parameterized==0.7.0
phonenumberslite==8.9.2
pydot==1.2.4
Pygments==2.2.0
pyparsing==2.4.0
python-dateutil==2.7.5
pytz==2018.3
requests==2.21.0
selenium==3.141.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==2.0.1
sphinx-rtd-theme==0.2.4
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-django==0.3.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.0.1
sqlparse==0.3.0
tblib==1.4.0
urllib3==1.25.2
waitress==1.1.0
WebOb==1.8.5
WebTest==2.0.29
