Babel==2.4.0
beautifulsoup4==4.6.0
coverage==4.4.1
Django==1.11
django-address==0.1.5
django-betterforms==1.1.4
django-choices==1.6.0
django-constance==2.0.0
django-countries==4.5
django-extensions==1.9.0
django-lockdown==1.4.2
django-phonenumber-field==1.3.0
django-picklefield==1.0.0
django-postal==0.96
django-related-admin==0.4.0
django-webtest==1.9.2
docutils==0.14
graphviz==0.8
more-itertools==3.2.0
names==0.3.0
phonenumberslite==8.4.1
pydot==1.2.3
pyparsing==2.2.0
pytz==2017.2
selenium==3.6.0
six==1.11.0
waitress==1.1.0
WebOb==1.7.4
WebTest==2.0.29
