<html>

<head>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="http://cdn.intercoolerjs.org/intercooler-1.1.2.min.js"></script>
</head>

<body>

<h1>Scores</h1>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Score 1</td>
      <td>Score 2</td>
      <td>Score 3</td>
      <td>Score 4</td>
      <td>Score 5</td>
      <td>Combined Score</td>
      <td>Tie Score</td>
      <td>Options</td>
    </tr>
  </thead>
  <tbody ic-target="closest tr" ic-replace-target="true">
    {% for s in scores %}
    <tr>
      <td>{{ s.name }}</td>
      {% for i in s.get_scores %}
      <td>{{ i }}</td>
      {% endfor %}
      <td>{{ s.combined_score }}</td>
      <td>{{ s.tie_score }}</td>
      <td><button ic-get-from="update_inline/{{ s.id }}/">Edit</button></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="8">No scores yet.</td>
    </tr>
    {% endfor %}
    <form action="{{ request.path }}" method="post">
      {% csrf_token %}
      <tr>
        {% for field in form %}
        <td>
          <div class="fieldWrapper">
            {{ field.errors }}
            {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
          </div>
        </td>
        {% endfor %}
        <td>
          <input type="submit" value="save">
        </td>
      </tr>
      {% if form.non_field_errors %}
        <tr>
          <td colspan="8">
            {{ form.non_field_errors }}
          </td>
        </tr>
      {% endif %}
    </form>
  </tbody>
</table>

</body>
</html>