<ul id="menu-default-menu" class="menu">
  <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Divisions</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/registration/">Participents</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/registration/person/add/">New Registration</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/admin/">Admin</a></li>
</ul>