<ul id="menu-default-menu" class="menu">
  <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Divisions</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/registration/">Participants</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/registration/person/add/">New Registration</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{% url 'kumite:manual-match' %}">Manual Kumite</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/admin/">Admin</a></li>
  {% if user.is_authenticated %}
    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/accounts/logout">Logout {{ user }}</a></li>
  {% else %}
    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/accounts/login">Login</a></li>
  {% endif %}
</ul>