<table border="1px">
  <thead>
    {% for h in grid.headers %}
    <td>{{ h }}</td>
    {% endfor %}
  </thead>
  <tbody>
    {% for row in grid.rows %}
    <tr>
      {% for cell in row %}
        {% if cell is not None %}
          {% if cell.match is not None %}
            <td {% if cell.span != 1 %}rowspan="{{ cell.span }}"{% endif %}>
              {# {{ cell.match }} #}
              {% if cell.round == -1 %}
                {% if cell.person is not None %}{{ cell.person }}{% else %}?{% endif %}
              {% else %}
                {# {% if cell.is_aka %} round {{ cell.round }}, match {{ cell.match_i|floatformat }}<br />{% else %}vs {% endif %} #}
                {% if cell.person is not None %}{{ cell.person }}{% else %}?{% endif %}
                {% if not cell.is_aka and cell.match.is_editable %}
                  {% if cell.match.is_ready %}
                    (<a href="match/{{ cell.match.pk }}/edit/">start</a>)
                  {% else %}
                    (<a href="match/{{ cell.match.pk }}/edit/">edit</a>)
                  {% endif %}
                {% endif %}
              {% endif %}
          {% else %}
            <td {% if cell.span != 1 %}rowspan="{{ cell.span }}"{% endif %} />
          {% endif %}
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<h1>Consolation Round</h1>
<table border="1px">
  <thead>
    {% for h in consolation_grid.headers %}
    <td>{{ h }}</td>
    {% endfor %}
  </thead>
  <tbody>
    {% for row in consolation_grid.rows %}
    <tr>
      	{% for cell in row %}
	        {% if cell is not None %}
	          {% if cell.match is not None %}
                <td {% if cell.span != 1 %}rowspan="{{ cell.span }}"{% endif %}>
                  {# {{ cell.match }} #}
                  {% if cell.round == -1 %}
                    {% if cell.person is not None %}{{ cell.person }}{% else %}?{% endif %}
                  {% else %}
                    {# {% if cell.is_aka %} round {{ cell.round }}, match {{ cell.match_i|floatformat }}<br />{% else %}vs {% endif %} #}
                    {% if cell.person is not None %}{{ cell.person }}{% else %}?{% endif %}
                    {% if not cell.is_aka and cell.match.is_editable %}
                      {% if cell.match.is_ready %}
                        (<a href="match/{{ cell.match.pk }}/edit/">start</a>)
                      {% else %}
                        (<a href="match/{{ cell.match.pk }}/edit/">edit</a>)
                      {% endif %}
                    {% endif %}
                  {% endif %}
              {% else %}
                <td {% if cell.span != 1 %}rowspan="{{ cell.span }}"{% endif %} />
	          {% endif %}
	        {% endif %}
	      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

