<h1><a href="{% url 'registration:divisions' %}">&lt;</a> {{ bracket.division }}</h1>

<style>
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}
td, th {
  height: 30px;
  padding: 2px 6px;
}
td {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 10 20' preserveAspectRatio='none'><text x='0' y='15' font-size='20'>}</text></svg>");
  background-repeat: no-repeat;
  background-size: 20px 100%;
  padding-left: 20px;
}
td:first-child {
  background-image: none;
  padding-left: 2px;
}
</style>

{% if next is not None %}
<h2>Next Match</h2>
<p>{% firstof next.aka.name "?" %} vs {% firstof next.shiro.name "?" %} (<a href="{{ next.get_absolute_url }}">start</a>)</p>
{% else %}
<h2>Winners</h2>
<ol>
  <li>{{ bracket.final_match.winner }}</li>
  <li>{{ bracket.final_match.loser }}</li>
  <li>{{ bracket.consolation_match.winner }}</li>
</ol>
{% endif %}

{% if on_deck is not None %}
<h2>On Deck</h2>
<p>{% firstof on_deck.aka.name "?" %} vs {% firstof on_deck.shiro.name "?" %}</p>
{% endif %}

<h2>Main Bracket</h2>
<table>
  <thead>
    {% for h in grid.headers %}
    <th>{{ h }}</th>
    {% endfor %}
  </thead>
  <tbody>
    {% for row in grid.rows %}
    <tr>
      {% for cell in row %}
        {% if cell is not None %}
          {% if cell.match is not None %}
            <td {% if cell.span != 1 %}rowspan="{{ cell.span }}"{% endif %}>
              {# {{ cell.match }} #}
              {% if cell.round == -1 %}
                {% if cell.person is not None %}{{ cell.person }}{% else %}?{% endif %}
              {% else %}
                {% if cell.is_aka %}{#  round {{ cell.round }}, match {{ cell.match_i|floatformat }}<br /> #}{% else %}vs {% endif %}
                {% if cell.person is not None %}{{ cell.person }}{% else %}?{% endif %}
                {% if not cell.is_aka and cell.match.is_editable %}
                  {% if cell.match.is_ready %}
                    (<a href="{{ cell.match.get_absolute_url }}">start</a>)
                  {% else %}
                    (<a href="{{ cell.match.get_absolute_url }}">edit</a>)
                  {% endif %}
                {% endif %}
              {% endif %}
          {% else %}
            <td {% if cell.span != 1 %}rowspan="{{ cell.span }}"{% endif %} />
          {% endif %}
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Consolation Round</h2>
<table>
  <thead>
    {% for h in consolation_grid.headers %}
    <th>{{ h }}</th>
    {% endfor %}
  </thead>
  <tbody>
    {% for row in consolation_grid.rows %}
    <tr>
      	{% for cell in row %}
	        {% if cell is not None %}
	          {% if cell.match is not None %}
                <td {% if cell.span != 1 %}rowspan="{{ cell.span }}"{% endif %}>
                  {# {{ cell.match }} #}
                  {% if cell.round == -1 %}
                    {% if cell.person is not None %}{{ cell.person }}{% else %}?{% endif %}
                  {% else %}
                    {% if cell.is_aka %}{#  round {{ cell.round }}, match {{ cell.match_i|floatformat }}<br /> #}{% else %}vs {% endif %}
                    {% if cell.person is not None %}{{ cell.person }}{% else %}?{% endif %}
                    {% if not cell.is_aka and cell.match.is_editable %}
                      {% if cell.match.is_ready %}
                        (<a href="{{ cell.match.get_absolute_url }}">start</a>)
                      {% else %}
                        (<a href="{{ cell.match.get_absolute_url }}">edit</a>)
                      {% endif %}
                    {% endif %}
                  {% endif %}
              {% else %}
                <td {% if cell.span != 1 %}rowspan="{{ cell.span }}"{% endif %} />
	          {% endif %}
	        {% endif %}
	      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<h1>Reset</h1>
<form action="{% url 'kumite:bracket-delete' bracket.id %}" method="post">
  {% csrf_token %}
  <button type="submit">Delete</button>
</form>