<h1>{{ bracket.division }}</h1>

{% if next is not None %}
<h2>Next Match</h2>
<p>{% firstof next.aka.name "?" %} vs {% firstof next.shiro.name "?" %} (<a href="{{ next.get_absolute_url }}">start</a>)</p>
{% else %}
<h2>Winners</h2>
<ol>
  <li>{{ bracket.final_match.winner }}</li>
  <li>{{ bracket.final_match.loser }}</li>
  <li>{{ bracket.consolation_match.winner }}</li>
</ol>
{% endif %}

{% if on_deck is not None %}
<h2>On Deck</h2>
<p>{% firstof on_deck.aka.name "?" %} vs {% firstof on_deck.shiro.name "?" %}</p>
{% endif %}

<h2>Main Bracket</h2>
<table border="1px">
  <thead>
    {% for h in grid.headers %}
    <td>{{ h }}</td>
    {% endfor %}
  </thead>
  <tbody>
    {% for row in grid.rows %}
    <tr>
      {% for cell in row %}
        {% if cell is not None %}
          {% if cell.match is not None %}
            <td {% if cell.span != 1 %}rowspan="{{ cell.span }}"{% endif %}>
              {# {{ cell.match }} #}
              {% if cell.round == -1 %}
                {% if cell.person is not None %}{{ cell.person }}{% else %}?{% endif %}
              {% else %}
                {# {% if cell.is_aka %} round {{ cell.round }}, match {{ cell.match_i|floatformat }}<br />{% else %}vs {% endif %} #}
                {% if cell.person is not None %}{{ cell.person }}{% else %}?{% endif %}
                {% if not cell.is_aka and cell.match.is_editable %}
                  {% if cell.match.is_ready %}
                    (<a href="{{ cell.match.get_absolute_url }}">start</a>)
                  {% else %}
                    (<a href="{{ cell.match.get_absolute_url }}">edit</a>)
                  {% endif %}
                {% endif %}
              {% endif %}
          {% else %}
            <td {% if cell.span != 1 %}rowspan="{{ cell.span }}"{% endif %} />
          {% endif %}
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Consolation Round</h2>
<table border="1px">
  <thead>
    {% for h in consolation_grid.headers %}
    <td>{{ h }}</td>
    {% endfor %}
  </thead>
  <tbody>
    {% for row in consolation_grid.rows %}
    <tr>
      	{% for cell in row %}
	        {% if cell is not None %}
	          {% if cell.match is not None %}
                <td {% if cell.span != 1 %}rowspan="{{ cell.span }}"{% endif %}>
                  {# {{ cell.match }} #}
                  {% if cell.round == -1 %}
                    {% if cell.person is not None %}{{ cell.person }}{% else %}?{% endif %}
                  {% else %}
                    {# {% if cell.is_aka %} round {{ cell.round }}, match {{ cell.match_i|floatformat }}<br />{% else %}vs {% endif %} #}
                    {% if cell.person is not None %}{{ cell.person }}{% else %}?{% endif %}
                    {% if not cell.is_aka and cell.match.is_editable %}
                      {% if cell.match.is_ready %}
                        (<a href="{{ cell.match.get_absolute_url }}">start</a>)
                      {% else %}
                        (<a href="{{ cell.match.get_absolute_url }}">edit</a>)
                      {% endif %}
                    {% endif %}
                  {% endif %}
              {% else %}
                <td {% if cell.span != 1 %}rowspan="{{ cell.span }}"{% endif %} />
	          {% endif %}
	        {% endif %}
	      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
