{% extends 'tournament/__base_styled.html' %}

{% block title %}
  {{ bracket }} | {{ block.super }}
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <style>
  .bracket td, .bracket th {
    height: 30px;
    padding: 2px 6px;
    vertical-align: middle;
  }
  .bracket td {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 10 20' preserveAspectRatio='none'><text x='0' y='15' font-size='20'>}</text></svg>");
    background-repeat: no-repeat;
    background-size: 20px 100%;
    padding-left: 20px;
  }
  
  .bracket td:first-child {
    background-image: none;
    padding-left: 2px;
  }
  
  .bracket td.drag-target {
    background-color: #CCCCCC;
  }
  
  </style>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="/static/drag-drop-polyfill/drag-drop-polyfill.min.js"></script>
  <script>
    if (!String.prototype.startsWith) {
        String.prototype.startsWith = function(searchString, position){
          return this.substr(position || 0, searchString.length) === searchString;
      };
    }
  </script>
{% endblock %}


{% block content %}
<h1>{{ bracket.division }}</h1>

{% if next is not None %}
<h2>Next Match</h2>
<p>{% firstof next.aka.name "?" %} vs {% firstof next.shiro.name "?" %} (<a href="{{ next.get_absolute_url }}">start</a>)</p>
{% else %}
<h2>Winners</h2>
<ul>
{% for rank, eventlink in bracket.get_winners %}
  <li>{{ rank }}. {{ eventlink.name }}</li>
{% endfor %}
</ul>
{% endif %}

{% if on_deck is not None %}
<h2>On Deck</h2>
<p>{% firstof on_deck.aka.name "?" %} vs {% firstof on_deck.shiro.name "?" %}</p>
{% endif %}

<script>
  var drag_prefix = "kumite match "
  function dragstart_handler(ev, id) {
    ev.dataTransfer.setData("text", drag_prefix + id);
  } ;
  
  function dragenter_handler(ev, tgt) {
    ev.preventDefault();
    event.target.classList.add('drag-target');
  };
  
  function dragover_handler(ev, tgt) {
    ev.preventDefault();
    ev.dataTransfer.dropEffect = "move";
  };
  
  function dragleave_handler(ev) {
    ev.target.classList.remove('drag-target');
  };
  
  function drop_handler(ev, tgt) {
    ev.target.classList.remove('drag-target');
    
    var src = ev.dataTransfer.getData("text");
    if (!src.startsWith(drag_prefix)) {
      return ;
    }
    ev.preventDefault();
    
    src = src.substr(drag_prefix.length);
    src_input = document.getElementById('id_swap-src');
    src_input.value = src;
    tgt_input = document.getElementById('id_swap-tgt');
    tgt_input.value = tgt;
    src_input.form.submit()
  };
</script>

<h2>Main Bracket</h2>
<table class="bracket">
  <thead>
    <tr>
      {% for h in grid.headers %}
      <th>{{ h }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in grid.rows %}
    <tr>
      {% for cell in row %}
        {% if cell is not None %}
          {% if cell.match is not None %}
            <td {% if cell.span != 1 %}rowspan="{{ cell.span }}"{% endif %}
                {% if cell.person.is_swappable %}
                  draggable="true"
                  ondragstart="dragstart_handler(event, {{ cell.person.id }});"
                  ondragenter="dragenter_handler(event, {{ cell.person.id }});"
                  ondragleave="dragleave_handler(event, {{ cell.person.id }});"
                  ondragover="dragover_handler(event, {{ cell.person.id }});"
                  ondrop="drop_handler(event, {{ cell.person.id }});"
                {% endif %}>
              {# {{ cell.match }} #}
              {% if cell.round == -1 %}
                {% if cell.person is not None %}{{ cell.person }}{% else %}?{% endif %}
              {% else %}
                {% if cell.is_aka %}{#  round {{ cell.round }}, match {{ cell.match_i|floatformat }}<br /> #}{% else %}vs {% endif %}
                {% if cell.person is not None %}{{ cell.person }}{% else %}?{% endif %}
                {% if not cell.is_aka and cell.match.is_editable %}
                  {% if cell.match.is_ready %}
                    (<a href="{{ cell.match.get_absolute_url }}">start</a>)
                  {% else %}
                    (<a href="{{ cell.match.get_absolute_url }}">edit</a>)
                  {% endif %}
                {% endif %}
              {% endif %}
          {% else %}
            <td {% if cell.span != 1 %}rowspan="{{ cell.span }}"{% endif %} />
          {% endif %}
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<form action="{% url 'kumite:bracket-n-swap' bracket.id %}" method="post">
  {% csrf_token %}
  {{ swap_form }}
</form>

{% if consolation_grid %}
<h2>Consolation Round</h2>
<table class="bracket">
  <thead>
    <tr>
      {% for h in consolation_grid.headers %}
      <th>{{ h }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in consolation_grid.rows %}
    <tr>
      	{% for cell in row %}
	        {% if cell is not None %}
	          {% if cell.match is not None %}
                <td {% if cell.span != 1 %}rowspan="{{ cell.span }}"{% endif %}>
                  {# {{ cell.match }} #}
                  {% if cell.round == -1 %}
                    {% if cell.person is not None %}{{ cell.person }}{% else %}?{% endif %}
                  {% else %}
                    {% if cell.is_aka %}{#  round {{ cell.round }}, match {{ cell.match_i|floatformat }}<br /> #}{% else %}vs {% endif %}
                    {% if cell.person is not None %}{{ cell.person }}{% else %}?{% endif %}
                    {% if not cell.is_aka and cell.match.is_editable %}
                      {% if cell.match.is_ready %}
                        (<a href="{{ cell.match.get_absolute_url }}">start</a>)
                      {% else %}
                        (<a href="{{ cell.match.get_absolute_url }}">edit</a>)
                      {% endif %}
                    {% endif %}
                  {% endif %}
              {% else %}
                <td {% if cell.span != 1 %}rowspan="{{ cell.span }}"{% endif %} />
	          {% endif %}
	        {% endif %}
	      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<h1>Reset</h1>
<form action="{{ delete_url }}" method="post">
  {% csrf_token %}
  <button type="submit">Delete</button>
</form>

<script>
  <!-- Enable drag and drop for mobile -->
  DragDropPolyfill.polyfill({
    dragImageTranslateOverride: DragDropPolyfill.scrollBehaviourDragImageTranslateOverride
  });
  <!-- Fix iOS drag and drop: https://github.com/metafizzy/flickity/issues/457#issuecomment-254501356 -->
  window.addEventListener( 'touchmove', function() {})
</script>

{% endblock %}
