{% load division_person_list %}

<h1>Divisions</h1>

{% if no_division_eventlist %}
<h2>Participents without a division</h2>
{% division_person_list no_division_eventlist %}
{% endif %}

{% for div in object_list %}
<h2>{{ div }} (<a href="{{ div.pk }}/">start</a>)</h2>
{% division_person_list div.eventlink_set.all %}

<h3>Winners</h3>
<ul>
{% for position, person in div.get_format.get_winners %}
  <li>{{ position }}. {{ person.name }}</li>
{% endfor %}
</ul>
{% endfor %}

<h1><a href="{% url 'kumite:manual-match' %}">Manual</a></h1>

<h1><a href="/admin">Admin</a></h1>
