{% extends 'tournament/__l_single_col.html' %}

{% load division_person_list %}

{% block content %}
<h1><a href="{% url 'registration:divisions' %}">&lt;</a> {{ object }}</h1>

<h2>Confirmed Participents</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Rank</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for el in confirmed_eventlinks %}
      <tr>
        {% include 'registration/division_detail_row.html' %}
      </tr>
    {% empty %}
      <tr>
        <td colspan="5">No participents</td>
      </tr>
    {% endfor %}
    {% if object.get_format is None %}
    <tr>
      <td colspan="5">
        <form action="{{ request.path }}" method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          {{ form.manual_name.errors }}
          <label for="{{ form.manual_name.id_for_label }}">{{ form.manual_name.label }}:</label>
          {{ form.manual_name }}
          <button type="submit">+</button>
        </form>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>

<h2>Start Division</h2>
{% if object.get_format %}
<h1><a href="{{ object.get_format.get_absolute_url }}">> Bracket</a></h1>
{% else %}
<form action="{{ request.path }}build/" method="post">
  {% csrf_token %}
  <button type="submit">Build</button>
</form>
{% endif %}

{# {% if noshow_eventlinks_length > 0 %} #}
<h2>No Show Participents</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Rank</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for el in noshow_eventlinks %}
      <tr>
        {% include 'registration/division_detail_row.html' %}
      </tr>
    {% empty %}
      <tr>
        <td colspan="5">No participents</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{# {% endif %} #}

{% endblock %}