{% extends 'tournament/__l_single_col.html' %}

{% load division_person_list %}

{% block content %}
<h1><a href="{% url 'registration:divisions' %}">&lt;</a> {{ object }}</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Rank</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% if object.eventlink_set.all %}
      {% for el in object.eventlink_set.all %}
      <tr>
        <td>{{ el.name }}</td>
        <td>{{ el.person.age }}</td>
        <td>{{ el.person.gender }}</td>
        <td>{{ el.person.rank }}</td>
        <td>
          {% if el.is_manual and object.get_format is None %}
            <form action="{{ request.path }}delete/{{el.pk}}/" method="post">
              {% csrf_token %}
              
              <button type="submit">delete</button>
            </form>
          {% else %}
            Can't delete
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="5">No participents</td>
      </tr>
    {% endif %}
    {% if object.get_format is None %}
    <tr>
      <td colspan="5">
        <form action="{{ request.path }}" method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          {{ form.manual_name.errors }}
          <label for="{{ form.manual_name.id_for_label }}">{{ form.manual_name.label }}:</label>
          {{ form.manual_name }}
          <button type="submit">+</button>
        </form>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>

{% if object.get_format %}
<h1><a href="{{ object.get_format.get_absolute_url }}">> Bracket</a></h1>
{% else %}
<form action="{{ request.path }}build" method="post">
  {% csrf_token %}
  <button type="submit">Build</button>
</form>
{% endif %}

{% endblock %}