{% extends 'tournament/__l_single_col.html' %}

{% load division_person_list %}


{% block content %}
<h1>Divisions</h1>

{% if no_division_eventlist %}
<h2>Participents without a division</h2>
{% division_person_list no_division_eventlist show_event=True %}
{% endif %}

<table>
	<thead>
		<tr>
			<th>division</th>
			<th>status</th>
			<th>participants</th>
			<th>winners</th>
		</tr>
	</thead>
	<tbody>
{% for div in object_list %}
		<tr>
			<td>{{ div }} <a href="{{ div.pk }}/">></a></td>
			<td>{{ div.status }}</td>
			<td>{{ div.eventlink_set.all |length }}</td>
			<td>
{# division_person_list div.eventlink_set.all #}

{% if div.get_format %}
{% for position, person in div.get_format.get_winners %}
{{ position }}. {{ person.name }}<br />
{% endfor %}
{% endif %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}