{% extends 'tournament/__l_single_col.html' %}

{% load division_person_list %}


{% block content %}

{% if no_division_eventlist %}
<h1>Participents without a division</h1>
{% division_person_list no_division_eventlist show_event=True %}
{% endif %}

<h1>Divisions</h1>
<table style="table-layout:fixed;">
	<thead>
		<tr>
			<th style="width:50%;">Division</th>
			<th style="width:10%;">Status</th>
			<th style="width:10%;">Participants</th>
			<th style="width:30%;">Winners</th>
		</tr>
	</thead>
	<tbody>
{% for div in object_list %}
		<tr>
			<td><a href="{{ div.pk }}/">{{ div }}</a></td>
			<td>{{ div.status }}</td>
			<td>{{ div.eventlink_set.all |length }}</td>
			<td>
{% if div.status == "Done" %}
{% for position, person in div.get_format.get_winners %}
{{ position }}. {{ person.name }}<br />
{% endfor %}
{% endif %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}