{% extends 'tournament/__base_styled.html' %}

{% block title %}
  Registration | {{ block.super }}
{% endblock %}


{% block content %}
<h1>Register</h1>

<form action="{{ request.path }}" method="post">
  {% csrf_token %}
  <table>
    {{ form }}
  </table>
  <input type="submit" value="Register">
</form>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfErgo1YwBn96RDlycKv077JFIWw-__RuRyIXqytrjKJCvYsw/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

{% endblock %}