{% if people %}
<table>
  <thead>
    <tr>
      <th>Name</th>
      {% if show_event %}
        <th>Event</th>
      {% endif %}
      <th>Age</th>
      <th>Gender</th>
      <th>Rank</th>
    </tr>
  </thead>
  <tbody>
    {% for el in people %}
    <tr>
      <td>{% if el.person is not None %}<a href="{% url 'registration:detail' el.person.id %}">{{ el.person.last_name }}, {{ el.person.first_name }}</a>{% else %}{{ el.name }}{% endif %}</td>
      {% if show_event %}
        <td>{{ el.event }}</td>
      {% endif %}
      <td>{{ el.person.age }}</td>
      <td>{{ el.person.gender }}</td>
      <td>{{ el.person.rank }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No participants</p>
{% endif %}
