{% extends 'tournament/__l_single_col.html' %}

{% load division_person_list %}

{% block stylesheets %}
  {{ block.super }}
  <style>
    .noteam {
      background-color: #ffcccc;
    }
    
    tr .noshow {
      text-decoration: line-through;
    }
    
    .drag-target, .drag-target .noteam {
      background-color: #CCCCCC !important;
    }
    

    
  </style>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="/static/drag-drop-polyfill/drag-drop-polyfill.min.js"></script>
  <script>
    if (!String.prototype.startsWith) {
        String.prototype.startsWith = function(searchString, position){
          return this.substr(position || 0, searchString.length) === searchString;
      };
    }
  </script>
  <script>
    var drag_prefix = "kumite match "
    function dragstart_handler(ev, id) {
      ev.dataTransfer.setData("text", drag_prefix + id);
    } ;

    function dragenter_handler(ev, tgt) {
      ev.preventDefault();
      // event.currentTarget is the tbody. event.target is the td.
      
      count = Number(ev.currentTarget.getAttribute('data-hover-count')) + 1
      ev.currentTarget.setAttribute('data-hover-count', count)
      console.info("dragenter " + count)
      if (count != 1)
        return ;
      
      ev.currentTarget.classList.add('drag-target');
    };

    function dragover_handler(ev, tgt) {
      ev.preventDefault();
      ev.dataTransfer.dropEffect = "link";
    };

    function dragleave_handler(ev, tgt) {
      count = -1 + Number(ev.currentTarget.getAttribute('data-hover-count'))
      ev.currentTarget.setAttribute('data-hover-count', count)
      console.info("dragleave " + count)
      if (count != 0)
        return ;
      
      ev.currentTarget.classList.remove('drag-target');
    };

    function drop_handler(ev, tgt) {
      ev.target.classList.remove('drag-target');
  
      var src = ev.dataTransfer.getData("text");
      if (!src.startsWith(drag_prefix)) {
        return ;
      }
      ev.preventDefault();
      
      src = src.substr(drag_prefix.length);
      src_input = document.getElementById('id_assign-src');
      src_input.value = src;
      tgt_input = document.getElementById('id_assign-tgt');
      tgt_input.value = tgt;
      src_input.form.submit()
    };
    
    //iOS drag and drop compatibility
    //https://github.com/timruffles/mobile-drag-drop/issues/77
    //window.addEventListener( 'touchmove', function() {event.preventDefault()})
  </script>
{% endblock %}

{% block content %}
<h1>TEAM <a href="{% url 'registration:divisions' %}">&lt;</a> {{ object }}</h1>

<h2>Participants</h2>
<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Rank</th>
      <th>Teammates</th>
      <th>Delete</th>
    </tr>
  </thead>
  
  {% for team in confirmed_eventlinks %}
    <tbody 
          {% if not locked %}
            ondragenter="dragenter_handler(event, {{ team.id }});" 
            ondragleave="dragleave_handler(event, {{ team.id }});"
            ondragover="dragover_handler(event, {{ team.id }});"
            ondrop="drop_handler(event, {{ team.id }});"
          {% endif %}
          >
      <tr>
        <td colspan="7">{{ team.name }}</td>
      </tr>
      {% for el in team.eventlink_set.all %}
        {% include 'registration/division_team_detail_row.html' %}
      {% endfor %}
    </tbody>
  {% endfor %}
    <tr 
          {% if not locked %}
            ondragenter="dragenter_handler(event, '');" 
            ondragleave="dragleave_handler(event, '');"
            ondragover="dragover_handler(event, '');"
            ondrop="drop_handler(event, '');"
          {% endif %}
          >
      <td colspan="7">New team</td>
    </tr>
    {% for el in noshow_eventlinks %}
      <tbody 
            {% if not locked %}
              ondragenter="dragenter_handler(event, {{ el.id }});" 
              ondragleave="dragleave_handler(event, {{ el.id }});"
              ondragover="dragover_handler(event, {{ el.id }});"
              ondrop="drop_handler(event, {{ el.id }});"
            {% endif %}
            >
        {% include 'registration/division_team_detail_row.html' %}
      </tbody>
    {% endfor %}
    {% if not locked %}
    <tr>
      <td colspan="7">
        <form id="add_form" action="{% url 'registration:division-add-person' object.id %}" method="post">
          {% csrf_token %}
          {{ add_form.non_field_errors }}
          {{ add_form.manual_name.errors }}
          <label for="{{ form.manual_name.id_for_label }}">{{ add_form.manual_name.label }}:</label>
          {{ add_form.manual_name }}
          <button type="submit">+</button>
        </form>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>

{% if not locked %}
<form id="team_assign_form" action="{% url 'registration:division-team-assign' object.id %}" method="post">
  {% csrf_token %}
  {{ team_assign_form }}
</form>
{% endif %}

<h2>Start Division</h2>
{% if locked %}
<h1><a href="{{ object.get_format.get_absolute_url }}">> Bracket</a></h1>
{% else %}
<form action="{% url 'registration:division-build' object.id %}" method="post">
  {% csrf_token %}
  <button type="submit">Build</button>
</form>
{% endif %}

<script>
  <!-- Enable drag and drop for mobile -->
  DragDropPolyfill.polyfill({
    dragImageTranslateOverride: DragDropPolyfill.scrollBehaviourDragImageTranslateOverride
  });
  <!-- Fix iOS drag and drop: https://github.com/metafizzy/flickity/issues/457#issuecomment-254501356 -->
  window.addEventListener( 'touchmove', function() {})
</script>

{% endblock %}