{% extends 'tournament/__l_single_col.html' %}

{% load division_person_list %}

{% block content %}
<h1>{{ object }}</h1>

<h2>Confirmed Participants</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Rank</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for el in confirmed_eventlinks %}
      {% include 'registration/division_detail_row.html' %}
    {% empty %}
      <tr>
        <td colspan="5">No participants</td>
      </tr>
    {% endfor %}
    {% if not locked %}
    <tr>
      <td colspan="5">
        <form id="add_form" action="{% url 'registration:division-add-person' object.id %}" method="post">
          {% csrf_token %}
          {{ add_form.non_field_errors }}
          {{ add_form.manual_name.errors }}
          <label for="{{ form.manual_name.id_for_label }}">{{ add_form.manual_name.label }}:</label>
          {{ add_form.manual_name }}
          <button type="submit">+</button>
        </form>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>

<h2>Start Division</h2>
{% if locked %}
<h1><a href="{{ object.get_format.get_absolute_url }}">> Bracket</a></h1>
{% else %}
<form action="{{ request.path }}build/" method="post">
  {% csrf_token %}
  <button type="submit">Build</button>
</form>
{% endif %}

{# {% if noshow_eventlinks_length > 0 %} #}
<h2>No Show Participants</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Rank</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for el in noshow_eventlinks %}
      {% include 'registration/division_detail_row.html' %}
    {% empty %}
      <tr>
        <td colspan="5">No participants</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{# {% endif %} #}

{% endblock %}