{% extends 'tournament/__l_single_col.html' %}

{% load division_person_list %}

{% block stylesheets %}
  {{ block.super }}
  
  <style>
  .single_person {
    color: #721c24;
    background-color: #f8d7da;
  }
  </style>
{% endblock %}

{% block content %}

{% if no_division_eventlist %}
<h1>Participants without a division</h1>
{% division_person_list no_division_eventlist show_event=True %}
{% endif %}

<h1>Divisions</h1>
<table style="table-layout:fixed;">
	<thead>
		<tr>
			<th style="width:50%;">Division</th>
			<th style="width:10%;">Status</th>
			<th style="width:10%;">Participants</th>
			<th style="width:30%;">Winners</th>
		</tr>
	</thead>
	<tbody>
{% for div in object_list %}
		<tr>
			<td><a href="{{ div.get_absolute_url }}">{{ div }}</a></td>
			<td>{{ div.status }}</td>
			<td {% if div.eventlink_set.count == 1 %}class="single_person"{% endif %}>{{ div.get_confirmed_eventlinks |length }} {% if div.get_noshow_eventlinks %}({{ div.get_noshow_eventlinks |length }} {% if div.event.is_team %}unassigned{% else %}late{% endif %}){% endif %}</td>
			<td>
{% if div.status == "Done" %}
{% for position, person in div.get_format.get_winners %}
{{ position }}. {{ person.name }}<br />
{% endfor %}
{% endif %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}