<tr
      class="{% if el.person and not el.person.confirmed %}noshow{% endif %} {% if el.team is None %}noteam{% endif %}"
      draggable="true"
      ondragstart="dragstart_handler(event, {{ el.id }});"
      ondragend="return false;"
      >
  <td/>
  <td>{% if not el.is_manual %}<a href="{{ el.person.get_absolute_url }}">{% endif %}{{ el.name }}{% if not el.is_manual %}</a>{% endif %}</td>
  <td>{{ el.person.age }}</td>
  <td>{{ el.person.gender }}</td>
  <td>{{ el.person.rank }}</td>
  <td>{{ el.person.teammates }}</td>
  <td>
    {% if el.is_manual and object.get_format is None %}
      <form action="{{ request.path }}delete/{{el.pk}}/" method="post">
        {% csrf_token %}
      
        <button type="submit">delete</button>
      </form>
    {% else %}
      Can't delete
    {% endif %}
  </td>
</tr>